# Clojure
.cpcache/
.nrepl-port
*.jar
*.class
.clj-kondo/.cache/

# Editor/IDE
.idea/
*.iml
.vscode/
.calva/
*.swp
*.swo
*~
.DS_Store

# Project specific
target/
classes/
out/

# Logs
*.log

# Local development
.env
.env.local
dev/user.clj

